

.design-page{
    width: 100vw;
    height: 80vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.design-page p{
    color: rgb(0, 0, 0);
    font-size: 3rem;

    background-color: white;
}

.design-page img{
    background: transparent;

}


