@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+NSW:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
.navbar{
    width: 100vh-4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding-left: 2rem;
    padding-right: 2rem;
    color: white;
    overflow: hidden;
}
.logo{
    height: min(100px,10vh);
    /* background-color: black; */
    /* color: white; */
    font-size: 2.25rem;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 20vw;
}
a{
    text-decoration: none;
    width: fit-content;
    color: white;
}
.navitems {
    text-decoration: none;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-evenly;
    width: 70vw;
}
.social {
    text-decoration: none;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-evenly;
    width: 10vw;
}

footer{
    width: 100vw;
    height: min(50px,2rem);
    background-color: black;
    color: white;
    text-align: center;
}

